*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;

}

header{
    font-size: large;
    text-align: center;
    color: #222222;

    border: solid 1px;
    margin: 0 auto;
    padding: 1px;
    
    background-color: #eeeeee;
    border-radius: 5px;
}

footer{
    padding: 10px;
    text-align: center;
}

.data, .result, .result-small, .label, .text-right, .text-center, .data-fake{
    padding-left: 4px;
    padding-right: 2px;
    
}

.data{
    background-color: #a7f1a7;
    
}

.result, .result-small{
    background-color: #a6d5ff;
    pointer-events: none;
    border: solid 1px;
}

.box-container, .box-container-custom{
    display: flex;
    justify-content: center;
    border: solid 2px;
    margin: 0 auto 5 auto;
}

.box-settings{
    display: grid;
    justify-content: left;
    grid-template-columns: minmax(9em, 9em) minmax(5em, 5em);
    grid-column: 1 / -1;
    margin: 2px;
    padding: 2px;
}

.box-data, .box-result, .box-data-custom, .box-data2, .box-data-current-factors{
    display: grid;
    grid-column: 1 / -1;
    margin: 2px;
    padding: 2px;
    
}

.box-data, .box-data-custom{
    grid-template-columns: minmax(8.5em, 8.5em) minmax(5em, 5em) minmax(3em, 3em) minmax(2em, 2em);
}

.box-result, .box-data2, .box-data-current-factors{
    grid-template-columns: minmax(3.5em, 3.5em) minmax(5em, 5em) minmax(3em, 3em) minmax(4em, 4em) minmax(3em, 3em);
}

.box-data-current-factors{
    grid-template-columns: minmax(3.5em, 3.5em) minmax(3em, 3em) minmax(3em, 3em) minmax(3em, 3em) minmax(3em, 3em);
}

.text-center{
    display: flex;

    justify-content: center;
}

.text-right{
    display: flex;

    justify-content: right;
}

.text-center-footer{
    display: flex;
    justify-content: center;
    padding: 1px;
    margin: 1px;
}

.box-container-custom, .box-data-custom{
    background-color: lightsteelblue;
}