*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;

}

header{
    font-size: large;
    text-align: center;
    color: #222222;

    border: solid 1px;
    margin: 0 auto;
    padding: 1px;
    
    background-color: #eeeeee;
    border-radius: 5px;
}

footer{
    padding: 10px;
    text-align: center;
}

.data, .result, .result-small, .text-right, .text-center, .text-center-tiny, .data-fake{
    padding-left: 4px;
    padding-right: 2px;
    
}

.data{
    background-color: #a7f1a7;
    border: solid 1px;
    
}

.result, .result-small{
    background-color: #a6d5ff;
    border: solid 1px;

    pointer-events: none;
}

.box-container, .box-container-custom{
    display: flex;
    justify-content: center;
    border: solid 2px;
    margin: 0 auto 5 auto;
    border-radius: 5px;
}

.box-settings{
    display: grid;
    justify-content: left;
    grid-template-columns: minmax(9em, 9em) minmax(5em, 5em);
    grid-column: 1 / -1;
    margin: 2px;
    padding: 2px;
}

.box-data, .box-result, .box-data-custom, .box-data2, .box-data-ampacity-factors, .box-current-factors{
    display: grid;
    grid-column: 1 / -1;
    margin: 2px;
    padding: 2px;
    
}

.box-data, .box-data-custom{
    grid-template-columns: minmax(8.5em, 8.5em) minmax(5em, 5em) minmax(3em, 3em) minmax(2em, 2em);
}

.box-result, .box-data2, .box-data-ampacity-factors{
    grid-template-columns: minmax(3.5em, 3.5em) minmax(5em, 5em) minmax(3em, 3em) minmax(4em, 4em) minmax(3em, 3em);
}

.box-data-ampacity-factors{
    grid-template-columns: minmax(3.5em, 3.5em) minmax(3em, 3em) minmax(3em, 3em) minmax(3em, 3em) minmax(3em, 3em);
}

.box-current-factors{
    grid-template-columns: minmax(3.2em, 3.2em) repeat(4, minmax(3.05em, 3.05em)) minmax(3.6em, 3.6em);
}

.text-center, .text-center-tiny{
    display: flex;

    justify-content: center;
    text-align: center;
    align-self: baseline;
}

.text-center-tiny{
    font-size: x-small;
}

.item-center{
    display: flex;

    margin: auto;

}

.item-right{
    display: flex;

    align-self: center;
}

.text-right{
    display: flex; 

    justify-content: flex-end;
    text-align: right;
}

.text-left{
    display: flex; 

    justify-content: flex-start;
    text-align: right;

    padding: 2px;
}

.text-center-footer{
    display: flex;

    justify-content: center;
    text-align: center;

    padding: 1px;
    margin: 1px;
}

.box-container-custom, .box-data-custom{
    background-color: lightsteelblue;
}

/* Remove Arrows/Spinners */
/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
.result::-webkit-outer-spin-button,
.result::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.result{
    -moz-appearance:textfield;
}
/* Remove Arrows/Spinners */

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

tr:nth-child(even) {
    Background-color: #dddddd;
}

td {
    border: solid 1px;
    text-align: center;
    padding: 1px;
}